.products-nav-bar {
  height: 60px;
  background-color: var(--color-bg-tertiary);
  color: var(--color-font-secondary);
  display: flex;
  align-items: center;
  font-size: 16px;
}

.products-menu-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.menu-item {
  margin-right: 20px;
}

.menu-active {
  font-weight: 700;
}
