header {
  height: 70px;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-primary);
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-bar {
  display: flex;
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  margin-right: 20px;
}

.menu-active {
  font-weight: 700;
}
